@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}


.info {
    margin-left: 40px;
}

.bio p {
    font-style: italic;
    font-weight: bold;
    color: #8898f8;
    margin: 0;
}

.hobby h2 {
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

.hobby {
    background: #e5ffe7;
}

.work {
    background: #ffe5e5;
}

.btn {
    background: rgb(29, 32, 32);
    padding: 9px 10px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
}

.btn:hover {
    opacity: 0.8;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 15px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    /* display: flex; */
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    padding-bottom: 5px;
    /* width: 50%; */
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}


.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.link {
    list-style-type: none;
    width: 30px;
    height: 30px;
    /* display: flex; */
}